<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Curriculum</title>
    </head>
    <body>
        <h1>CURRICULUM VITAE</h1>

        <h2>Datos personales</h2>
        <img height="125" width="100" src="{{url_for('static', filename='foto.jpg')}}" alt="Foto">

        <p>Nombre: Nelson Jesus Sanchez Estrada</p>
        <p>Edad: 20 años</p>
        <p>Estado civil: Soltero</p>
        <p>Direccion: Santa Monica Mz 15 Villa 9 </p>
        <p>Telefono: 0962038726</p>
        <p>Correo: nelsonsanchezestrada@gmail.com</p>

        <h2>Informacion academica</h2>
        <p>Escuela: Unidad Educativa Particular "Numa Pompilio LLona" </p>
        <p>Secundaria: Unidad Educativa Fiscal "Amarilis Fuentes Alcivar"</p>
        <p>Educacion Superior: Universidad Guayaquil (4to Semestre) </p>

        <h2>Experiencia laboral</h2>

        <strong><p> Cooperativa De Transporte Pesado Cuadllejo</p></strong>
        <p> Asistente Contable – Medio Tiempo (Duran, Recreo)</p>
        <p> Julio 2022 – Diciembre 2022</p>
        <ul>
            <li> Realizar retención a la fuente de facturas físicas y
                electrónicas</li>
            <li> Realizar retención del IVA a las facturas electrónicas </li>
            <li> Contabilizar las ordenes de pagos semanalmente</li>
            <li> Registrar los pagos pendientes y realizados</li>
        </ul>

        <strong><p>Buro & Tributario</p></strong>
        <p>Asistente Administrativo – Tiempo Completo (Guayaquil, Guasmo)</p>
        <strong><p>(Auditoria Forense a Empresa “INLOG”)</p></strong>
        <p>Junio 2023 – Agosto 2023</p>
        <ul>
            <li>Comparar valores de documentos de entradas vs salidas para
                verificar diferencias</li>
            <li>Identificar faltantes de productos en los documentos</li>
            <li>Clasificar y organizar documentos en bodega</li>
            <li>Ordenar y verificar documentos de inventario</li>
            <li>Preparar y conciliar los informes de los procesos
                realizados</li>
        </ul>
        <h2>Cuadro de Valoracion</h2>
        <table border="2">
            <tr>
                <td><strong> Aptitudes</strong></td>
                <td><strong>Objetivos</strong></td>
            </tr>

            <tr>
                <td>Responsable</td> <td>Eficiencia en actividades</td>
            </tr>

            <tr>
                <td>Comunicativo</td> <td>Informar cada proceso</td>
            </tr>

            <tr>
                <td>Trabajo en equipo</td> <td>Cumplimientos de objetivos en equipo</td>
            </tr>
        </table>

    </body>
</html>